@charset "UTF-8";

.section-1 {
    height: 100%;
    width: 100%;
    * {
      overflow: hidden;
    }
    .Vidage__video {
			opacity: 1;
      z-index: 1;

      width: 100%;
      height: 100%;

      top: 100px;
      left: 0;

    }
    background-color: white;
}

@media screen and (max-width: 416px) { 
  .section-1 .Vidage__video {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
