body {
  font-family: serif;
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 10px;
  list-style:none;
}
body > * {
  margin-bottom: 30px;
}
hr {
  width: 50%;
}
p {
  text-align: left;
  text-indent: 3mm; 
}
.resume-and-github > a {
  margin-left: 15px;
  margin-right: 15px;
}
